<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pretty.library.network">

    <!--访问网络连接-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--网络信息状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--改变网络状态-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!--Wi-Fi网络状态信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--改变Wi-Fi连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--改变WiFi多播状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

</manifest>